<!DOCTYPE html>
<html>
  <head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
      <div class="card text-center" style="width: 300px;">
        <div class="card-header h5 text-white bg-primary">Password Reset</div>
        <div class="card-body px-5">
            <% if (message) { %>
                <div class="alert alert-success" role="alert">
                  <%= message %>
                </div>
              <% } %>
          <p class="card-text py-2">
            <%= msg %>
          </p>
          <form action="/password-reset" method="POST">
            <div class="form-outline">
              <input type="email" id="typeEmail" class="form-control my-3" placeholder="Email" />
            </div>
            <a href="#" class="btn btn-primary w-100">Reset password</a>
          </form>
          <div class="d-flex justify-content-between mt-4">
            <a href="/login">Login</a>
            <a href="/signup">Register</a>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
