<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Journalling | Reset Password</title>
  <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<style>
  .error-message {
    color: red;
  }

  body {
    background-color: #2d2828; /* Set the background color to a dark shade */
    color: #8b8484; /* Set the text color to a light shade */
  }
</style>

<body>
  <!-- <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Password Reset</h4>
          </div>
          <div class="card-body">
            <p class="card-text">Enter your email address, and we'll email you instructions to reset your password.</p>
            <% if (success) { %>
              <div class="alert alert-success" role="alert">
                A password reset link has been sent to your email address.
              </div>
            <% } %>
            <form action="/req-reset-password" method="POST">
              <div class="form-group">
                <input type="email" class="form-control" id="typeEmail" name="email" placeholder="Enter your email" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block mt-3">Reset Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container d-flex justify-content-center">
    <div class="card text-center" style="width: 300px;">
      <div class="card-header h5 text-white bg-primary">Password Reset</div>
      <div class="card-body px-5">
        <% if (success) { %>
          <p class="card-text py-2 text-success"><%= success %></p>
        <% } else { %>
          <p class="card-text py-2">
            Enter your email address, and we'll email you instructions to reset your password.
          </p>
          <form action="/req-reset-password" method="POST">
            <div class="form-outline">
              <input type="email" id="typeEmail" name="email" class="form-control my-3" required />
            </div>
            <button type="submit" class="btn btn-primary w-100">Reset password</button>
          </form>
        <% } %>
      </div>
    </div>
  </div>

</body>
</html>
